/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/*.column * {
    display: inline-block;
}*/

.row .col-md-3 {
    border: 1px solid black;
    margin: 45px;
}
.container .col-md-6 img {
    width: 50%;
    height: 50%;
}
.container .col-md-6 .well {
    display: inherit;
    align-items: center;
}
.ajax-link {
    
}