
@{
    ViewBag.Title = "Index";
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="col-md-12 column">
    <div class="tabbable" id="tabs-624205">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#panel-312312" data-toggle="tab">Section 1</a>
            </li>
            <li>
                <a href="#panel-839101" data-toggle="tab">Section 2</a>
            </li>
        </ul>
        <div class="tab-content">
            
        </div>
    </div>
</div>

