
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Code Challenge</title>
    
    <!---JQuery -->
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <!---bootstrap-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css"/>

    <!-- my javascript-->
    <script src="~/Scripts/main.js"></script>
</head>
<body>
    <div class="container">
    </div>
</body>
</html>
