
@{
    ViewBag.Title = "Careers";
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

    <div class="jumbotron">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies sollicitudin volutpat. Ut porttitor pulvinar ipsum. Proin lorem ex, dictum sed commodo vitae, viverra quis ex. Maecenas nec aliquet justo. Vivamus rutrum, magna et placerat vulputate, ante felis fermentum orci, non cursus lectus arcu ut ligula. Maecenas neque nunc, euismod in tristique quis, iaculis a nisi. Nunc venenatis nec diam sit amet condimentum. Proin sed facilisis metus. Aenean suscipit nulla in nunc rhoncus, quis scelerisque neque tincidunt. Suspendisse sollicitudin consectetur nunc vitae scelerisque. Integer elementum velit mauris, pulvinar tempor magna malesuada vitae. Praesent elementum, erat feugiat sollicitudin semper, arcu mi bibendum nisl, ut consequat turpis augue eu felis. Nam facilisis laoreet metus non posuere. Aliquam gravida gravida eros at viverra. Mauris suscipit ultricies turpis, a aliquet mauris hendrerit sed.

            Duis vehicula tellus finibus lorem faucibus congue. Etiam malesuada euismod mauris nec dapibus. Cras tincidunt dui sit amet libero rhoncus, nec viverra mi gravida. Fusce dolor diam, pretium non pretium congue, ultrices ut dui. Phasellus consequat blandit aliquet. Sed et sagittis justo. Quisque eget velit vitae orci tempus lacinia.
        </p>
    </div>
